$card-color: rgb(240, 240, 240);
$timeline-color: rgb(255, 255, 255);

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Tinos&display=swap");

$font1: "Roboto Mono", monospace;
$font2: "Tinos", serif;
* {
  margin: 0;
  padding: 0;
  font-family: $font2;
  box-sizing: border-box;
}

body{
  padding: 10px;
}

#social{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;

  a{
    display: block;
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
  }

  img{
    //align-self: flex-end;
    margin-top: 5px;
    margin-right: 5px;
    width: 120px;
    border-radius: 20px;
  }

  #name{
    font-family: $font1;
    font-size: 1.5em;
    font-weight: 900;
  }
  #description{
    font-weight: 900;
  }
}

.timestamps {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //flex-direction: column;
  background: $timeline-color;
}

.card {
  padding: 3px;
  width: 49%;
  background: $card-color;
  margin-bottom: 7px;
  border-radius: 5px;
  //box-shadow: 0.5px 0.5px 5px 0.5px grey;
  transition: 0.3s;

  &:hover {
    //box-shadow: 0.7px 0.7px 7px 0.7px grey;
  }

  .title {
    display: inline;
    font-weight: 1000;
    font-size: 1.1em;
    font-family: $font1;
  }

  .date {
    display: inline;
    font-weight: 500;
    font-size: 1.2em;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    //font-style: italic;
    //font-size: 1.1em;
    color: rgb(75, 75, 204);
    text-transform: capitalize;
    margin: 1.5px 0;

    div {
      transform: translateY(-2px);
      margin: 2px;
      &:after {
        display: inline-block;
        content: ",";
        transform: translateX(-2px);
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }

  .description {
    //font-size: 1.1em;
    padding: .2em 0;
  }

  .link{
    color: black;
    text-decoration: none;
    &:hover, &:visited{
      color: black
    }
    &:before{
      content: "Link: "
    }
  }
}

#download, #url{
  display: none;
  justify-content: center;
}

@media only screen{
  #download{
    display: flex;
  }
}

@media only print{
  #url{
    display: flex;
  }
}

@media only screen and (max-width:900px ){
  .card{
    width: 100%;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width:1400px ){
  .card{
    width: 32%;
    margin-bottom: 15px;
  }
}
