@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Tinos&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Tinos", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7em;
  word-wrap: break-word;
}

body {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#social a {
  display: block;
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
}

#social img {
  margin-top: 5px;
  margin-right: 5px;
  width: 120px;
  border-radius: 20px;
}

#social #name {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5em;
  font-weight: 900;
}

#social #description {
  font-weight: 900;
}

.timestamps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: white;
}

.card {
  min-width: 26px;
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .title {
  display: inline;
  font-weight: 1000;
  font-size: 1.1em;
  font-family: "Roboto Mono", monospace;
}

.card .card-body {
  padding-left: 10px;
}

.card .date {
  display: inline;
  font-weight: 500;
  font-size: 1.2em;
}

.card .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  color: #4b4bcc;
  text-transform: capitalize;
}

.card .technologies::before {
  content: "Technologies used: ";
  margin-right: 2px;
  color: black;
}

.card .technologies div {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin: 2px;
}

.card .technologies div:after {
  display: inline-block;
  content: ",";
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.card .technologies div:last-child::after {
  content: "";
}

.card .link {
  color: black;
}

.card .link:hover, .card .link:visited {
  color: black;
}

.card .link:before {
  content: "Link: ";
  text-decoration: none;
}

.qr {
  margin-top: 50px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.qr img {
  padding: 20px;
  height: 200px;
  width: 200px;
}

#download,
#url {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

@media only screen {
  #download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only print {
  #url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #social #details {
    text-align: left;
  }
  .card:nth-child(6) {
    padding-top: 100px;
  }
  .qr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.education {
  margin-top: 15px;
  font-family: "Roboto Mono", monospace;
}

.education::before {
  content: "Education";
  font-size: 1.5em;
  font-weight: 900;
}

.education .educationHeading {
  font-weight: 900;
}

.education .educationItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education .educationItem .name {
  font-weight: 600;
}

@media (min-width: 700px) {
  #social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #social #details {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */